.BackButton {
    position: absolute;
    top: 20px;
    left: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.BackButton:hover {
    color: #008ed6;
}