.mobile-my-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1E1D1D;
    width: 100%;
}
.mobile-my-page {
    border: 1px solid #1E1D1D;
    background: #272626;
    height: 100vh;
    width: 393px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;  /* 전체 스크롤 적용 */
    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;  /* Firefox */
}

