.desktop-live-and-my-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10%;
    margin: 0 auto;
    margin-top: 20px;
}
.desktop-live-and-my-nav__right {
    display: flex;
    align-items: center;
    gap: 20px;
}
.desktop-live-and-my-nav__right-links a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-left: 10px;
}
.desktop-live-and-my-nav__right-links a:hover {
    color: #01ADFF;
}
.desktop-live-and-my-nav__login-signin-btn {
    border: 1px solid #E2E1E1;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    cursor: pointer;
    background-color: white;
    font-weight: 600;
    width: 150px;
    height: 40px;
}
.desktop-live-and-my-nav__login-signin-btn:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
