.RegistrationButton {
    width: 80%;
    padding: 10px;
    background-color: #01ADFF;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 50px;
    align-self: center;
}

.RegistrationButton:hover {
    transform: scale(1.05);
}

.RegistrationButton:active {
    transform: scale(0.95);
}
