.mobile-bottom-tab {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 393px;
    height: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1E1D1D;
    border-top: 1px solid #403F3F;
    z-index: 1000;
    padding: 0;
    margin: 0;
}
.tab-item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.tab-item span {
    margin-top: 4px;
    font-size: 12px;
    color: white;
}

/* iOS의 safe-area-inset-bottom 대응 */
@supports (padding: max(0px)) {
    .mobile-bottom-tab {
        height: calc(56px + env(safe-area-inset-bottom));
        padding-bottom: env(safe-area-inset-bottom);
    }
}
