.desktop-home-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktop-home-page-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.background-video {
    width: 83%;
    border-radius: 15px;
}

.right-top-block {
    position: absolute;
    top: 0;
    right: 8.5%;  /* 100% - 83% = 17%, 17% ÷ 2 = 8.5% */
    z-index: 1;
}

.left-bottom-block {
    position: absolute;
    bottom: 0;
    left: 8.199%;  /* 100% - 83% = 17%, 17% ÷ 2 = 8.5% */
    z-index: 1;
}
